/.vs/EasyX/v16/.suo
/.vs/EasyX/v16/Browse.VC.db
/.vs/EasyX/v16/ipch/AutoPCH/ecf9947ff08decfd/MAIN.ipch
/Debug/EasyX.exe
/Debug/EasyX.ilk
/Debug/EasyX.pdb
/EasyX.sln
/EasyX/Debug/EasyX.Build.CppClean.log
/EasyX/Debug/EasyX.log
/EasyX/Debug/EasyX.tlog/CL.command.1.tlog
/EasyX/Debug/EasyX.tlog/CL.read.1.tlog
/EasyX/Debug/EasyX.tlog/CL.write.1.tlog
/EasyX/Debug/EasyX.tlog/EasyX.lastbuildstate
/EasyX/Debug/EasyX.tlog/link.command.1.tlog
/EasyX/Debug/EasyX.tlog/link.read.1.tlog
/EasyX/Debug/EasyX.tlog/link.write.1.tlog
/EasyX/Debug/EasyX.vcxproj.FileListAbsolute.txt
/EasyX/Debug/main.obj
/EasyX/Debug/vc142.idb
/EasyX/Debug/vc142.pdb
/EasyX/EasyX.vcxproj
/EasyX/EasyX.vcxproj.filters
/EasyX/EasyX.vcxproj.user
/EasyX/body.jpg
/EasyX/food.jpg
/EasyX/main.cpp
/EasyX/music/shuohao.mp3
/EasyX/pictures/food.jpg
/EasyX/shuohao.mp3
/EasyX/snackdown.jpg
/EasyX/snackleft.jpg
/EasyX/snackright.jpg
/EasyX/snackup.jpg
